#layout-footer{

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    .footer-nav{
        display: flex;
        ul{
            display: flex;
            list-style: none;
            li{
                padding-right: 10px;
            }
        }
    }
}